{% load static %}
<!-- <img src="{% static 'img/akslogok.png' %}" alt="Flowers in Chania"> -->

<div id="onbilgi">
  <small id="serialno">Kesif No: {{kesifbilgi.id}}</small>
  <small id="date"
    >Tarih: {{kesifbilgi.kesifYapilanYerTarihi |date:"d M Y"}}
  </small>
</div>
<table style="width: 100%" class="table table-primary">
  <h4>Kesif Genel Bilgileri</h4>
  <thead>
    <tr>
      <th scope="col"></th>
      <th style="width: 10%" scope="col-5"></th>
      <th style="width: 80%" scope="col-5"></th>
      <th style="width: 10%" scope="col-2"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Locasyon</td>
      <td>{{kesifbilgi.kesifYapilanYerAdi}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Kişi-Kişiler</td>
      <td>{{kesifbilgi.kesifYapanKisi}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Senaryo</td>
      <td>
        <p>{{kesifbilgi.kesifSenaryosu}}</p>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>

<hr />
{% if kesifbilgi.kesifPTSVarMi%}
<div class="div">{% include 'partials/_contentKesifDetailsPTS.html' %}</div>
{%endif%} {% if kesifbilgi.kesifOlayVarMi%}
<div class="div">{% include 'partials/_contentKesifDetailsOAS.html' %}</div>
{%endif%} {% if kesifbilgi.kesifCctvVarMi %}
<div class="div">{% include 'partials/_contentKesifDetailsCCTV.html' %}</div>
{%endif%}

<div class="row" id="center" style="margin-right: 10%">
  <hr />
  <div id="CarouselWithControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for item in images %} {% if forloop.first %}
      <div class="carousel-item {% if forloop.first %} active {% endif %}">
        <h2 class="text-center">{{ item.frame_title }}</h2>
        <img src="{{ item.kesifImage.url }}" class="d-block" />
        <h5 class="text-center">{{ item.frame_description }}</h5>
      </div>
      {% else %}
      <div class="carousel-item {% if forloop.first %} active {% endif %}">
        <h2 class="text-center">{{ item.frame_title }}</h2>
        <img src="{{ item.kesifImage.url }}" class="d-block" />
        <h5 class="text-center">{{ item.frame_description }}</h5>
      </div>
      {% endif %}
      <a
        class="carousel-control-prev"
        href="#CarouselWithControls"
        role="button"
        data-bs-slide="prev"
      >
        <span
          style="color: red"
          class="carousel-control-prev-icon"
          aria-hidden="false"
        ></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#CarouselWithControls"
        role="button"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="false"></span>
        <span class="sr-only">Next</span>
      </a>
      {% endfor %}
    </div>

    <div class="row"></div>
    <style></style>
  </div>
</div>

<div class="row" style="width: 90%; margin-right: 10%" id="buttonlar">
  <div class="col-6">
    <a
      href="{% url 'panelkesifedit' kesifbilgi.slug %}"
      class="btn text-align: center btn-lg btn-primary"
      >Düzenle</a
    >
  </div>
  {% if not kesifbilgi.kesifOnaylandiMi%}
  <div class="col-6">
    <a
      href="{% url 'panelkesifonayla' kesifbilgi.slug %}"
      class="btn text-align: center btn-lg btn-success"
      >Onayla</a
    >
  </div>
  {%else%}
  <div class="col-6">
    <a
      href="{% url 'panelkesifarsivle' kesifbilgi.slug %}"
      class="btn text-align: center btn-lg btn-danger"
      >Arsivle</a
    >
  </div>
  {%endif%}
</div>

<style>
  .btn {
    width: 100%;
  }
  .buttonlar {
    margin-left: 250px;
    padding-left: 250px;
  }
  .center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .d-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  #onbilgi {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }
  #date {
    float: right;
    padding-right: 10%;
  }
  #serialno {
    color: red;
  }
</style>
