{% load static %}

<style>
  .bass {
    border-radius: 16px;
    position: relative;
    background-color: rgb(56, 211, 64);
    padding-top: 5px;
    padding-bottom: 2px;
    color: rgb(255, 255, 255);
  }
</style>

<div class="col-12">
  <h5 class="bass text-center mt-3">ONAYLANAN KESİF LİSTESİ</h5>

  <ul class="list-group">
    {% for kesif in formliste %} {% if kesif.kesifOnaylandiMi%}
    <div class="list-group-item list-group-item-action" style="margin: 1px">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex w-100 justify-content-between">
            <lu>
              <h5 class="mb-1">{{kesif.kesifYapilanYerAdi|title}}</h5>
            </lu>
            <lu>
              <small class="text-muted">{{kesif.kesifYapilanYerTarihi}}</small>
            </lu>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6">
          <p class="mb-1">{{kesif.kesifSenaryosu|safe|slice:"0:20"}}</p>
        </div>
      </div> -->
      <div class="row height:20px">
        <div class="d-flex w-100 justify-content-between">
          <lu id="hazırlayan">
            <small class="text-muted" style="margin-left: 8px"
              >Hazırlayan : {{kesif.kesifYapanKisi}}</small
            >
          </lu>
        </div>
      </div>
      <div class="row">
        <div class="d-flex w-100 justify-content-between">
          <lu>
            <div class="div">
              {% if kesif.kesifPTSVarMi %}
              <button type="button" class="btn btn-success">PTS</button>
              {% else %}
              <button type="button" class="btn btn-secondary">PTS</button>
              {% endif %} {% if kesif.kesifOlayVarMi %}
              <button type="button" class="btn btn-success">OAS</button>
              {% else %}
              <button type="button" class="btn btn-secondary">OAS</button>
              {% endif %} {% if kesif.kesifCctvVarMi %}
              <button type="button" class="btn btn-success">CCTV</button>
              {% else %}
              <button type="button" class="btn btn-secondary">CCTV</button>
              {% endif %}
              <!-- <img src="{% static 'img/DüzenleLogo.png' %}" class="img-fluid rounded-start mt-3" alt="..."> -->
              <a
                href="{% url 'panelkesifdetails' kesif.slug %}"
                class="btn btn-primary"
                >Detaylar</a
              >
              <a
                href="{% url 'panelkesifindir' kesif.slug %}"
                class="btn btn-warning badge-secondary"
                >İndir</a
              >
              <!-- <a href="" class="btn btn-danger">Sil</a> -->
            </div>
          </lu>
        </div>
      </div>
    </div>
    {%endif%} {% endfor %}
  </ul>
</div>

<style>
  .btn {
    font-size: 10px;
    margin-top: 11px;
    text-size-adjust: 10px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  }

  .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .hazırlayan {
    margin-top: 5px;
  }
</style>
