
        <!-- PTS Sol taraf formu --------------------- -->
        <div class="div" id="PTSform" style="display: none">
          <h5 class="bas text-center mt-3">Plaka Tanıma Sistemi Kesif Formu</h5>
          <div class="row">
            <div class="col-4">
                <div class="form-check">
                  <label for="myCheckKamera" class="form-check-label">Kamera</label>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="myCheckKamera"
                    onclick="myFunctionKamera()"
                  />
                </div>
            </div>
            <div class="col-8">
              <!-- PTS SAĞ TARAF FORMU -->
              <table>
                <div class="div" id="PTSformKamera" style="display: none">
                  <h5 class="bas text-center mt-3">Kamera Formu</h5>
                  <label
                    class="form-label"
                    for="{{PTSform.kesifPTSKameraSayisi.id_for_label}}"
                  >
                    {{PTSform.kesifPTSKameraSayisi.label}}
                  </label>
                  {{PTSform.kesifPTSKameraSayisi}}
                  <label
                    class="form-label"
                    for="{{PTSform.kesifPTSKameraTipi.id_for_label}}"
                  >
                  {{PTSform.kesifPTSKameraTipi.label}}
                  </label>
                  {{PTSform.kesifPTSKameraTipi}}
                  <div class="form-check mt-3">
                    <label for="myCheckKameraBoat" class="form-check-label"
                      >Kamera Boat var mı ?</label
                    >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="myCheckKameraBoat"
                      onclick="myFunctionKameraBoat()"
                    />
                  </div>
                  <div class="div"id="PTSformKameraBoat"
                  style="display: none">
                  <label
                      class="form-label"
                      for="{{PTSform.kesifPTSKameraBoatSayisi.id_for_label}}"
                    >
                    {{PTSform.kesifPTSKameraBoatSayisi.label}}
                    </label>
                    {{PTSform.kesifPTSKameraBoatSayisi}}
                  </div>
                  <div class="form-check mt-3">
                    <label for="myCheckKameraAdaptor" class="form-check-label"
                      >Kamera Adaptör var mı ?</label
                    >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="myCheckKameraAdaptor"
                      onclick="myFunctionKameraAdaptor()"
                    />
                  </div>
                  <div class="div"id="PTSformKameraAdaptor"
                  style="display: none">
                  <label
                      class="form-label"
                      for="{{PTSform.kesifPTSKameraAdaptorSayisi.id_for_label}}"
                    >
                    {{PTSform.kesifPTSKameraAdaptorSayisi.label}}
                    </label>
                    {{PTSform.kesifPTSKameraAdaptorSayisi}}
                  </div>
                  <div class="form-check mt-3">
                    <label for="myCheckExtraKamera" class="form-check-label"
                      >Extra Kamera var mı ?</label
                    >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="myCheckExtraKamera"
                      onclick="myFunctionExtraKamera()"
                    />
                  </div>
                  <div
                    class="div"
                    id="PTSformExtraKamera"
                    style="display: none"
                  >
                    <label
                      class="form-label"
                      for="{{PTSform.kesifPTSExtraKameraSayisi.id_for_label}}"
                    >
                    {{PTSform.kesifPTSExtraKameraSayisi.label}}
                    </label>
                    {{PTSform.kesifPTSExtraKameraSayisi}}
                    <label
                      class="form-label"
                      for="{{PTSform.kesifPTSExtraKameraTipi.id_for_label}}"
                    >
                    {{PTSform.kesifPTSExtraKameraTipi.label}}
                    </label>
                    {{PTSform.kesifPTSExtraKameraTipi}}
                    <div class="form-check mt-3">
                      <label for="myCheckExtraKameraAdaptor" class="form-check-label"
                        >Extra Kamera Adaptör var mı ?</label
                      >
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="myCheckExtraKameraAdaptor"
                        onclick="myFunctionExtraKameraAdaptor()"
                      />
                    </div>
                    <div class="div"id="PTSformExtraKameraAdaptor"
                    style="display: none">
                    <label
                        class="form-label"
                        for="{{PTSform.kesifPTSExtraKameraAdaptorSayisi.id_for_label}}"
                      >
                      {{PTSform.kesifPTSExtraKameraAdaptorSayisi.label}}
                      </label>
                      {{PTSform.kesifPTSExtraKameraAdaptorSayisi}}
                  </div>
                </div>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-check">
                <label for="myCheckDirek" class="form-check-label">Direk</label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="myCheckDirek"
                  onclick="myFunctionDirek()"
                />
              </div>
            </div>
            <div class="col-8">
              <div class="div" id="PTSformDirek" style="display: none">
                <h5 class="bas text-center mt-3">Direk Formu</h5>
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSDirekSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSDirekSayisi.label}}
                </label>
                {{PTSform.kesifPTSDirekSayisi}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSDirekUzunlugu.id_for_label}}"
                >
                {{PTSform.kesifPTSDirekUzunlugu.label}}
                </label>
                {{PTSform.kesifPTSDirekUzunlugu}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSFlanshSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSFlanshSayisi.label}}
                </label>
                {{PTSform.kesifPTSFlanshSayisi}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSDirekAçıklama.id_for_label}}"
                >
                {{PTSform.kesifPTSDirekAçıklama.label}}
                </label>
                {{PTSform.kesifPTSDirekAçıklama}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-check">
                <label for="myCheckBilgisayar" class="form-check-label">Bilgisayar</label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="myCheckBilgisayar"
                  onclick="myFunctionBilgisayar()"
                />
              </div>
            </div>
            <div class="col-8">
              <div class="div" id="PTSformBilgisayar" style="display: none">
                <h5 class="bas text-center mt-3">Bilgisayar Formu</h5>
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSBilgisayarConfigi.id_for_label}}"
                >
                {{PTSform.kesifPTSBilgisayarConfigi.label}}
                </label>
                {{PTSform.kesifPTSBilgisayarConfigi}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSBilgisayarSayısı.id_for_label}}"
                >
                {{PTSform.kesifPTSBilgisayarSayısı.label}}
                </label>
                {{PTSform.kesifPTSBilgisayarSayısı}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-check">
                <label for="myCheckIOkart" class="form-check-label">IO-kart</label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="myCheckIOkart"
                  onclick="myFunctionIOkart()"
                />
              </div>
            </div>
            <div class="col-8">
              <div class="div" id="PTSformIOkart" style="display: none">
                <h5 class="bas text-center mt-3">IO-Kart Formu</h5>
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSIoKartSayısı.id_for_label}}"
                >
                {{PTSform.kesifPTSIoKartSayısı.label}}
                </label>
                {{PTSform.kesifPTSIoKartSayısı}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSIoKartTipi.id_for_label}}"
                >
                {{PTSform.kesifPTSIoKartTipi.label}}
                </label>
                {{PTSform.kesifPTSIoKartTipi}}
                <div class="form-check mt-3">
                  <label for="myCheckModulVarMı" class="form-check-label"
                    >Modul var mı ?</label
                  >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="myCheckModulVarMı"
                    onclick="myFunctionModulVarMı()"
                  />
                </div>
                <div class="div" id="PTSformModulVarMı" style="display: none">
                  <label
                    class="form-label"
                    for="{{PTSform.kesifPTSIoKartModulSayısı.id_for_label}}"
                  >
                  {{PTSform.kesifPTSIoKartModulSayısı.label}}
                  </label>
                  {{PTSform.kesifPTSIoKartModulSayısı}}
                
                </div>    
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-check">
                <label for="myCheckSwitch" class="form-check-label">Switch</label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="myCheckSwitch"
                  onclick="myFunctionSwitch()"
                />
              </div>
            </div>
            <div class="col-8">
              <div class="div" id="PTSformSwitch" style="display: none">
                <h5 class="bas text-center mt-3" >Switch Formu</h5>
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSSwitchSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSSwitchSayisi.label}}
                </label>
                {{PTSform.kesifPTSSwitchSayisi}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSSwitchPortSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSSwitchPortSayisi.label}}
                </label>
                {{PTSform.kesifPTSSwitchPortSayisi}}           
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSSwitchPoeMi.id_for_label}}"
                >
                {{PTSform.kesifPTSSwitchPoeMi.label}}
                </label>
                {{PTSform.kesifPTSSwitchPoeMi}}           
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-check">
                <label for="myCheckLoop" class="form-check-label">Loop Dedektor</label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="myCheckLoop"
                  onclick="myFunctionLoop()"
                />
              </div>
            </div>
            <div class="col-8">
              <div class="div" id="PTSformLoop" style="display: none">
                <h5 class="bas text-center mt-3" >Loop Dedektor Formu</h5>
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSLoopDedektorSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSLoopDedektorSayisi.label}}
                </label>
                {{PTSform.kesifPTSLoopDedektorSayisi}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSLoopTrafoSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSLoopTrafoSayisi.label}}
                </label>
                {{PTSform.kesifPTSLoopTrafoSayisi}}           
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSLoopKabloCesidi.id_for_label}}"
                >
                {{PTSform.kesifPTSLoopKabloCesidi.label}}
                </label>
                {{PTSform.kesifPTSLoopKabloCesidi}}           
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSLoopKabloMetresi.id_for_label}}"
                >
                {{PTSform.kesifPTSLoopKabloMetresi.label}}
                </label>
                {{PTSform.kesifPTSLoopKabloMetresi}}           
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-check">
                <label for="myCheckLedEkran" class="form-check-label">Led Ekran</label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="myCheckLedEkran"
                  onclick="myFunctionLedEkran()"
                />
              </div>
            </div>
            <div class="col-8">
              <div class="div" id="PTSformLedEkran" style="display: none">
                <h5 class="bas text-center mt-3">LedEkran Formu</h5>
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSLedEkranSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSLedEkranSayisi.label}}
                </label>
                {{PTSform.kesifPTSLedEkranSayisi}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSLedEkranModeli.id_for_label}}"
                >
                {{PTSform.kesifPTSLedEkranModeli.label}}
                </label>
                {{PTSform.kesifPTSLedEkranModeli}}           
                        
               
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-4">
                <div class="form-check">
                  <label for="myCheckBariyer" class="form-check-label">Bariyer</label>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="myCheckBariyer"
                    onclick="myFunctionBariyer()"
                  />
                </div>
              </div>
              <div class="col-8">
                <div class="div" id="PTSformBariyer" style="display: none">
                  <h5 class="bas text-center mt-3">Bariyer Formu</h5>
                  <label
                    class="form-label"
                    for="{{PTSform.kesifPTSBariyerSayisi.id_for_label}}"
                  >
                  {{PTSform.kesifPTSBariyerSayisi.label}}
                  </label>
                  {{PTSform.kesifPTSBariyerSayisi}}
                  <label
                    class="form-label"
                    for="{{PTSform.kesifPTSBariyerModeli.id_for_label}}"
                  >
                  {{PTSform.kesifPTSBariyerModeli.label}}
                  </label>
                  {{PTSform.kesifPTSBariyerModeli}}           
                  <label
                    class="form-label"
                    for="{{PTSform.kesifPTSBariyerKolBoyu.id_for_label}}"
                  >
                  {{PTSform.kesifPTSBariyerKolBoyu.label}}
                  </label>
                  {{PTSform.kesifPTSBariyerKolBoyu}}           
                  <label
                    class="form-label"
                    for="{{PTSform.kesifPTSMantarBariyerAciklama.id_for_label}}"
                  >
                  {{PTSform.kesifPTSMantarBariyerAciklama.label}}
                  </label>
                  {{PTSform.kesifPTSMantarBariyerAciklama}}                            
                </div>
              </div>
          </div>  
          <div class="row">
            <div class="col-4">
              <div class="form-check">
                <label for="myCheckSarfMalzeme" class="form-check-label">Sarf Malzeme</label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="myCheckSarfMalzeme"
                  onclick="myFunctionSarfMalzeme()"
                />
              </div>
            </div>
            <div class="col-8">
              <div class="div" id="PTSformSarfMalzeme" style="display: none">
                <h5 class="bas text-center mt-3">Kablolama Formu</h5>
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSSpiralMetre.id_for_label}}"
                >
                {{PTSform.kesifPTSSpiralMetre.label}}
                </label>
                {{PTSform.kesifPTSSpiralMetre}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSSpiralÇapı.id_for_label}}"
                >
                {{PTSform.kesifPTSSpiralÇapı.label}}
                </label>
                {{PTSform.kesifPTSSpiralÇapı}}           
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSEnerjikablometre.id_for_label}}"
                >
                {{PTSform.kesifPTSEnerjikablometre.label}}
                </label>
                {{PTSform.kesifPTSEnerjikablometre}}           
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSEnerjikabloTipi.id_for_label}}"
                >
                {{PTSform.kesifPTSEnerjikabloTipi.label}}
                </label>
                {{PTSform.kesifPTSEnerjikabloTipi}}           
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSCAT6kablometre.id_for_label}}"
                >
                {{PTSform.kesifPTSCAT6kablometre.label}}
                </label>
                {{PTSform.kesifPTSCAT6kablometre}}           
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSDT8kablometre.id_for_label}}"
                >
                {{PTSform.kesifPTSDT8kablometre.label}}
                </label>
                {{PTSform.kesifPTSDT8kablometre}}     
                <h5 class="bas text-center mt-3">Pano Formu</h5>
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSPanoSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSPanoSayisi.label}}
                </label>
                {{PTSform.kesifPTSPanoSayisi}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSPanoOlcusu.id_for_label}}"
                >
                {{PTSform.kesifPTSPanoOlcusu.label}}
                </label>
                {{PTSform.kesifPTSPanoOlcusu}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSPanoTipi.id_for_label}}"
                >
                {{PTSform.kesifPTSPanoTipi.label}}
                </label>
                {{PTSform.kesifPTSPanoTipi}}            
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-check">
                <label for="myCheckFiber" class="form-check-label">Fiber</label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="myCheckFiber"
                  onclick="myFunctionFiber()"
                />
              </div>
            </div>
            <div class="col-8">
              <div class="div" id="PTSformFiber" style="display: none">
                <h5 class="bas text-center mt-3">Fiber Formu</h5>
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSFiberMetre.id_for_label}}"
                >
                {{PTSform.kesifPTSFiberMetre.label}}
                </label>
                {{PTSform.kesifPTSFiberMetre}}
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSFiberKabloModeli.id_for_label}}"
                >
                {{PTSform.kesifPTSFiberKabloModeli.label}}
                </label>
                {{PTSform.kesifPTSFiberKabloModeli}}           
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSPatchPanelSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSPatchPanelSayisi.label}}
                </label>
                {{PTSform.kesifPTSPatchPanelSayisi}}           
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSPatchPanelTipi.id_for_label}}"
                >
                {{PTSform.kesifPTSPatchPanelTipi.label}}
                </label>
                {{PTSform.kesifPTSPatchPanelTipi}}           
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSPatchPanelEkKasetSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSPatchPanelEkKasetSayisi.label}}
                </label>
                {{PTSform.kesifPTSPatchPanelEkKasetSayisi}}           
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSPatchCordSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSPatchCordSayisi.label}}
                </label>
                {{PTSform.kesifPTSPatchCordSayisi}}     
                   
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSPatchCordTipi.id_for_label}}"
                >
                {{PTSform.kesifPTSPatchCordTipi.label}}
                </label>
                {{PTSform.kesifPTSPatchCordTipi}}     
                   
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSFiberAdaptorSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSFiberAdaptorSayisi.label}}
                </label>
                {{PTSform.kesifPTSFiberAdaptorSayisi}}     
                   
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSFiberAdaptorTipi.id_for_label}}"
                >
                {{PTSform.kesifPTSFiberAdaptorTipi.label}}
                </label>
                {{PTSform.kesifPTSFiberAdaptorTipi}}     
                   
                <label
                  class="form-label"
                  for="{{PTSform.kesifPTSCibikModuleSayisi.id_for_label}}"
                >
                {{PTSform.kesifPTSCibikModuleSayisi.label}}
                </label>
                {{PTSform.kesifPTSCibikModuleSayisi}}     
                   
                </div>
              </div>
          </div>
      </div>