{% load static %}

<table style="width: 100%" class="table table-primary">
  <h4>Kesif Genel Bilgileri</h4>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th style="width: 10%" scope="col-5">--</th>
      <th style="width: 80%" scope="col-5">-/-</th>
      <th style="width: 10%" scope="col-2"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Locasyon</td>
      <td>{{kesifbilgi.kesifYapilanYerAdi}}</td>
      <td>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Kişi-Kişiler</td>
      <td>{{kesifbilgi.kesifYapanKisi}}</td>
      <td>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Senaryo</td>
      <td>{{kesifbilgi.kesifSenaryosu}} Bird</td>
      <td>
      </td>
    </tr>
  </tbody>
</table>
 

      <hr />
      {% if kesifbilgi.kesifPTSVarMi%}
      <table style="width: 100%" class="table table-primary">
        <h4>PTS Kesif Detay Bilgileri</h4>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th style="width: 40%" scope="col-5">--</th>
            <th style="width: 60%" scope="col-5">Sayı/Metre/Model</th>
            <th style="width: 0%" scope="col-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">-</th>
            <td>Kamera Adet</td>
            <td>{{malzemeinfo.kesifPTSKameraSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Kamera Model</td>
            <td>{{malzemeinfo.kesifPTSKameraTipi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Kamera Boat Sayısı</td>
            <td>{{malzemeinfo.kesifPTSKameraBoatSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Kamera Adaptor Sayısı</td>
            <td>{{malzemeinfo.kesifPTSKameraAdaptorSayisi}}</td>
            <td>
            </td>
          </tr>
          {% if malzemeinfo.kesifPTSExtraKameraSayisi %}
          <tr>
            <th scope="row">-</th>
            <td>Extra Kamera Adet</td>
            <td>{{malzemeinfo.kesifPTSExtraKameraSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Extra Kamera Model</td>
            <td>{{malzemeinfo.kesifPTSExtraKameraTipi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Extra Kamera Adaptor Sayısı</td>
            <td>{{malzemeinfo.kesifPTSExtraKameraAdaptorSayisi}}</td>
            <td>
            </td>
          </tr>
          {%endif%} {% if malzemeinfo.kesifPTSDirekSayisi %}
          <tr>
            <th scope="row">-</th>
            <td>Direk Adet</td>
            <td>{{malzemeinfo.kesifPTSDirekSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Direk Uzunluğu</td>
            <td>{{malzemeinfo.kesifPTSDirekUzunlugu}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Direk Flansh Sayısı</td>
            <td>{{malzemeinfo.kesifPTSFlanshSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Direk Hakkında Açıklama</td>
            <td>{{malzemeinfo.kesifPTSDirekAçıklama}}</td>
            <td>
            </td>
          </tr>
          {%endif%} {% if malzemeinfo.kesifPTSBilgisayarConfigi %}
          <tr>
            <th scope="row">-</th>
            <td>Bilgisayar Configi</td>
            <td>{{malzemeinfo.kesifPTSBilgisayarConfigi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Bilgisayar Sayısı</td>
            <td>{{malzemeinfo.kesifPTSBilgisayarSayısı}}</td>
            <td>
            </td>
          </tr>
          {%endif%} {% if malzemeinfo.kesifPTSIoKartSayısı %}
          <tr>
            <th scope="row">-</th>
            <td>IO-kart Sayısı</td>
            <td>{{malzemeinfo.kesifPTSIoKartSayısı}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>IO-kart Tipi</td>
            <td>{{malzemeinfo.kesifPTSIoKartTipi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>IO-kart Modul Sayısı</td>
            <td>{{malzemeinfo.kesifPTSIoKartModulSayısı}}</td>
            <td>
            </td>
          </tr>
          {%endif%} {% if malzemeinfo.kesifPTSSwitchSayisi %}
          <tr>
            <th scope="row">-</th>
            <td>Switch Sayısı</td>
            <td>{{malzemeinfo.kesifPTSSwitchSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Switch Portu</td>
            <td>{{malzemeinfo.kesifPTSSwitchPortSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Switch Poe Mi</td>
            <td>{{malzemeinfo.kesifPTSSwitchPoeMi}}</td>
            <td>
            </td>
          </tr>
          {%endif%} {% if malzemeinfo.kesifPTSSpiralMetre %}
          <tr>
            <th scope="row">-</th>
            <td>Spiral Metresi</td>
            <td>{{malzemeinfo.kesifPTSSpiralMetre}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Spiral Çapı</td>
            <td>{{malzemeinfo.kesifPTSSpiralÇapı}}</td>
            <td>
            </td>
          </tr>
          {%endif%} {% if malzemeinfo.kesifPTSEnerjikablometre %}
          <tr>
            <th scope="row">-</th>
            <td>Enerji Kablo Metresi</td>
            <td>{{malzemeinfo.kesifPTSEnerjikablometre}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Enerji Kablo Tipi</td>
            <td>{{malzemeinfo.kesifPTSEnerjikabloTipi}}</td>
            <td>
            </td>
          </tr>
          {%endif%} {% if malzemeinfo.kesifPTSDT8kablometre %}
          <tr>
            <th scope="row">-</th>
            <td>DT-8 Kablo Metresi</td>
            <td>{{malzemeinfo.kesifPTSDT8kablometre}}</td>
            <td>
            </td>
          </tr>
          {%endif%} {% if malzemeinfo.kesifPTSCAT6kablometre %}
          <tr>
            <th scope="row">-</th>
            <td>CAT-6 Kablo Metresi</td>
            <td>{{malzemeinfo.kesifPTSCAT6kablometre}}</td>
            <td>
            </td>
          </tr>
          {%endif%} {% if malzemeinfo.kesifPTSPanoSayisi %}
          <tr>
            <th scope="row">-</th>
            <td>Pano Sayısı</td>
            <td>{{malzemeinfo.kesifPTSPanoSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Pano Olcusu</td>
            <td>{{malzemeinfo.kesifPTSPanoOlcusu}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Pano Tipi</td>
            <td>{{malzemeinfo.kesifPTSPanoTipi}}</td>
            <td>
            </td>
          </tr>
          {%endif%}
          {% if malzemeinfo.kesifPTSBariyerSayisi %}
          <tr>
            <th scope="row">-</th>
            <td>Bariyer Sayısı</td>
            <td>{{malzemeinfo.kesifPTSBariyerSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Bariyer Modeli</td>
            <td>{{malzemeinfo.kesifPTSBariyerModeli}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Bariyer Kol Boyu</td>
            <td>{{malzemeinfo.kesifPTSBariyerKolBoyu}}</td>
            <td>
            </td>
          </tr>
          {%endif%}
          {% if malzemeinfo.kesifPTSLedEkranSayisi %}
          <tr>
            <th scope="row">-</th>
            <td>LedEkran Sayısı</td>
            <td>{{malzemeinfo.kesifPTSLedEkranSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>LedEkran Modeli</td>
            <td>{{malzemeinfo.kesifPTSLedEkranModeli}}</td>
            <td>
            </td>
          </tr>
          {%endif%}
          {% if malzemeinfo.kesifPTSFiberMetre %}
          <tr>
            <th scope="row">-</th>
            <td>Fiber Metresi </td>
            <td>{{malzemeinfo.kesifPTSFiberMetre}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Fiber Kablo Tipi</td>
            <td>{{malzemeinfo.kesifPTSFiberKabloModeli}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Patch Panel Sayısı</td>
            <td>{{malzemeinfo.kesifPTSPatchPanelSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Patch Panel Tipi</td>
            <td>{{malzemeinfo.kesifPTSPatchPanelTipi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Patch Panel Ek Kaset Sayısı</td>
            <td>{{malzemeinfo.kesifPTSPatchPanelEkKasetSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Patch Cord Sayısı</td>
            <td>{{malzemeinfo.kesifPTSPatchCordSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Patch Cord Tipi</td>
            <td>{{malzemeinfo.kesifPTSPatchCordTipi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Fiber Adaptor Sayısı</td>
            <td>{{malzemeinfo.kesifPTSFiberAdaptorSayisi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Fiber Adaptor Tipi</td>
            <td>{{malzemeinfo.kesifPTSFiberAdaptorTipi}}</td>
            <td>
            </td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Cibik Modul Sayısı</td>
            <td>{{malzemeinfo.kesifPTSCibikModuleSayisi}}</td>
            <td>
            </td>
          </tr>
          {%endif%}
        </tbody>
      </table>
      {%endif%}

      <div class="row"> <hr />
        <div id="CarouselWithControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for item in images %} {% if forloop.first %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
              <h2 class="text-center">{{ item.frame_title }}</h2>
              <img src="{{ item.kesifImage.url }}" class="d-block w-100 h-100" />
              <h5 class="text-center">{{ item.frame_description }}</h5>
            </div>
            {% else %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
              <h2 class="text-center">{{ item.frame_title }}</h2>
              <img src="{{ item.kesifImage.url }}" class="d-block w-100 h-100" />
              <h5 class="text-center">{{ item.frame_description }}</h5>
            </div>
            {% endif %}
            <a
              class="carousel-control-prev"
              href="#CarouselWithControls"
              role="button"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#CarouselWithControls"
              role="button"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            {% endfor %}</div>

      <div class="row"></div>
      <style>
        .d-block{
          max-height: 720px;
          max-width: 1080px;
        }
        .CarouselWithControls{
          max-width : 90%;
          max-height : 90%;
        }
      </style>
    </div>
    <a href="{% url 'panelkesifedit' kesifbilgi.slug %}" class="btn text-align: center btn-lg btn-primary">Düzenle</a>
    
    <a href="" class="btn text-align: center btn-lg btn-success">Onayla</a>

    </div>
</div>
