<div class="div" id="Olayform" style="display: none">
  <h5 class="bas text-center mt-3">Olay Algılama Sistemi Kesif Formu</h5>
  <div class="row">
    <div class="col-4">
        <div class="form-check">
          <label for="myCheckKameraOlay" class="form-check-label">Kamera</label>
          <input
            class="form-check-input"
            type="checkbox"
            id="myCheckKameraOlay"
            onclick="myFunctionKameraOlay()"
          />
        </div>
    </div>
    <div class="col-8">
      <!-- PTS SAĞ TARAF FORMU -->
      <table>
        <div class="div" id="OlayformKamera" style="display: none">
          <h5 class="bas text-center mt-3">Kamera Formu</h5>
          <label
            class="form-label"
            for="{{Olayform.kesifOlayKameraSayisi.id_for_label}}"
          >
          {{Olayform.kesifOlayKameraSayisi.label}}
          </label>
          {{Olayform.kesifOlayKameraSayisi}}
          <label
            class="form-label"
            for="{{Olayform.kesifOlayKameraTipi.id_for_label}}"
          >
          {{Olayform.kesifOlayKameraTipi.label}}
          </label>
          {{Olayform.kesifOlayKameraTipi}}
          <div class="form-check mt-3">
            <label for="myCheckKameraBoatOlay" class="form-check-label"
              >Kamera Boat var mı ?</label
            >
            <input
              class="form-check-input"
              type="checkbox"
              id="myCheckKameraBoatOlay"
              onclick="myFunctionKameraBoatOlay()"
            />
          </div>
          <div class="div"id="OlayformKameraBoat"
          style="display: none">
          <label
              class="form-label"
              for="{{Olayform.kesifOlayKameraBoatSayisi.id_for_label}}"
            >
            {{Olayform.kesifOlayKameraBoatSayisi.label}}
            </label>
            {{Olayform.kesifOlayKameraBoatSayisi}}
          </div>
          <div class="form-check mt-3">
            <label for="myCheckKameraAdaptorOlay" class="form-check-label"
              >Kamera Adaptör var mı ?</label
            >
            <input
              class="form-check-input"
              type="checkbox"
              id="myCheckKameraAdaptorOlay"
              onclick="myFunctionKameraAdaptorOlay()"
            />
          </div>
          <div class="div"id="OlayformKameraAdaptor"
          style="display: none">
          <label
              class="form-label"
              for="{{Olayform.kesifOlayKameraAdaptorSayisi.id_for_label}}"
            >
            {{Olayform.kesifOlayKameraAdaptorSayisi.label}}
            </label>
            {{Olayform.kesifOlayKameraAdaptorSayisi}}
          </div>
          <div class="form-check mt-3">
            <label for="myCheckExtraKameraOlay" class="form-check-label"
              >Extra Kamera var mı ?</label
            >
            <input
              class="form-check-input"
              type="checkbox"
              id="myCheckExtraKameraOlay"
              onclick="myFunctionExtraKameraOlay()"
            />
          </div>
          <div
            class="div"
            id="OlayformExtraKamera"
            style="display: none"
          >
            <label
              class="form-label"
              for="{{Olayform.kesifOlayExtraKameraSayisi.id_for_label}}"
            >
            {{Olayform.kesifOlayExtraKameraSayisi.label}}
            </label>
            {{Olayform.kesifOlayExtraKameraSayisi}}
            <label
              class="form-label"
              for="{{Olayform.kesifOlayExtraKameraTipi.id_for_label}}"
            >
            {{Olayform.kesifOlayExtraKameraTipi.label}}
            </label>
            {{Olayform.kesifOlayExtraKameraTipi}}
            <div class="form-check mt-3">
              <label for="myCheckExtraKameraAdaptorOlay" class="form-check-label"
                >Extra Kamera Adaptör var mı ?</label
              >
              <input
                class="form-check-input"
                type="checkbox"
                id="myCheckExtraKameraAdaptorOlay"
                onclick="myFunctionExtraKameraAdaptorOlay()"
              />
            </div>
            <div class="div"id="OlayformExtraKameraAdaptor"
            style="display: none">
            <label
                class="form-label"
                for="{{Olayform.kesifOlayExtraKameraAdaptorSayisi.id_for_label}}"
              >
              {{Olayform.kesifOlayExtraKameraAdaptorSayisi.label}}
              </label>
              {{Olayform.kesifOlayExtraKameraAdaptorSayisi}}
          </div>
        </div>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-check">
        <label for="myCheckDirekOlay" class="form-check-label">Direk</label>
        <input
          class="form-check-input"
          type="checkbox"
          id="myCheckDirekOlay"
          onclick="myFunctionDirekOlay()"
        />
      </div>
    </div>
    <div class="col-8">
      <div class="div" id="OlayformDirek" style="display: none">
        <h5 class="bas text-center mt-3">Direk Formu</h5>
        <label
          class="form-label"
          for="{{Olayform.kesifOlayDirekSayisi.id_for_label}}"
        >
        {{Olayform.kesifOlayDirekSayisi.label}}
        </label>
        {{Olayform.kesifOlayDirekSayisi}}
        <label
          class="form-label"
          for="{{Olayform.kesifOlayDirekUzunlugu.id_for_label}}"
        >
        {{Olayform.kesifOlayDirekUzunlugu.label}}
        </label>
        {{Olayform.kesifOlayDirekUzunlugu}}
        <label
          class="form-label"
          for="{{Olayform.kesifOlayFlanshSayisi.id_for_label}}"
        >
        {{Olayform.kesifOlayFlanshSayisi.label}}
        </label>
        {{Olayform.kesifOlayFlanshSayisi}}
        <label
          class="form-label"
          for="{{Olayform.kesifOlayDirekAçıklama.id_for_label}}"
        >
        {{Olayform.kesifOlayDirekAçıklama.label}}
        </label>
        {{Olayform.kesifOlayDirekAçıklama}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-check">
        <label for="myCheckBilgisayarOlay" class="form-check-label">Bilgisayar</label>
        <input
          class="form-check-input"
          type="checkbox"
          id="myCheckBilgisayarOlay"
          onclick="myFunctionBilgisayarOlay()"
        />
      </div>
    </div>
    <div class="col-8">
      <div class="div" id="OlayformBilgisayar" style="display: none">
        <h5 class="bas text-center mt-3">Bilgisayar Formu</h5>
        <label
          class="form-label"
          for="{{Olayform.kesifOlayBilgisayarConfigi.id_for_label}}"
        >
        {{Olayform.kesifOlayBilgisayarConfigi.label}}
        </label>
        {{Olayform.kesifOlayBilgisayarConfigi}}
        <label
          class="form-label"
          for="{{Olayform.kesifOlayBilgisayarSayısı.id_for_label}}"
        >
        {{Olayform.kesifOlayBilgisayarSayısı.label}}
        </label>
        {{Olayform.kesifOlayBilgisayarSayısı}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-check">
        <label for="myCheckIOkartOlay" class="form-check-label">IO-kart</label>
        <input
          class="form-check-input"
          type="checkbox"
          id="myCheckIOkartOlay"
          onclick="myFunctionIOkartOlay()"
        />
      </div>
    </div>
    <div class="col-8">
      <div class="div" id="OlayformIOkart" style="display: none">
        <h5 class="bas text-center mt-3">IO-Kart Formu</h5>
        <label
          class="form-label"
          for="{{Olayform.kesifOlayIoKartSayısı.id_for_label}}"
        >
        {{Olayform.kesifOlayIoKartSayısı.label}}
        </label>
        {{Olayform.kesifOlayIoKartSayısı}}
        <label
          class="form-label"
          for="{{Olayform.kesifOlayIoKartTipi.id_for_label}}"
        >
        {{Olayform.kesifOlayIoKartTipi.label}}
        </label>
        {{Olayform.kesifOlayIoKartTipi}}
        <div class="form-check mt-3">
          <label for="myCheckModulVarMıOlay" class="form-check-label"
            >Modul var mı ?</label
          >
          <input
            class="form-check-input"
            type="checkbox"
            id="myCheckModulVarMıOlay"
            onclick="myFunctionModulVarMıOlay()"
          />
        </div>
        <div class="div" id="OlayformModulVarMı" style="display: none">
          <label
            class="form-label"
            for="{{Olayform.kesifOlayIoKartModulSayısı.id_for_label}}"
          >
          {{Olayform.kesifOlayIoKartModulSayısı.label}}
          </label>
          {{Olayform.kesifOlayIoKartModulSayısı}}
        
        </div>    
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-check">
        <label for="myCheckSwitchOlay" class="form-check-label">Switch</label>
        <input
          class="form-check-input"
          type="checkbox"
          id="myCheckSwitchOlay"
          onclick="myFunctionSwitchOlay()"
        />
      </div>
    </div>
    <div class="col-8">
      <div class="div" id="OlayformSwitch" style="display: none">
        <h5 class="bas text-center mt-3" >Switch Formu</h5>
        <label
          class="form-label"
          for="{{Olayform.kesifOlaySwitchSayisi.id_for_label}}"
        >
        {{Olayform.kesifOlaySwitchSayisi.label}}
        </label>
        {{Olayform.kesifOlaySwitchSayisi}}
        <label
          class="form-label"
          for="{{Olayform.kesifOlaySwitchPortSayisi.id_for_label}}"
        >
        {{Olayform.kesifOlaySwitchPortSayisi.label}}
        </label>
        {{Olayform.kesifOlaySwitchPortSayisi}}           
        <label
          class="form-label"
          for="{{Olayform.kesifOlaySwitchPoeMi.id_for_label}}"
        >
        {{Olayform.kesifOlaySwitchPoeMi.label}}
        </label>
        {{Olayform.kesifOlaySwitchPoeMi}}           
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-check">
        <label for="myCheckSarfMalzemeOlay" class="form-check-label">Sarf Malzeme</label>
        <input
          class="form-check-input"
          type="checkbox"
          id="myCheckSarfMalzemeOlay"
          onclick="myFunctionSarfMalzemeOlay()"
        />
      </div>
    </div>
    <div class="col-8">
      <div class="div" id="OlayformSarfMalzeme" style="display: none">
        <h5 class="bas text-center mt-3">Kablolama Formu</h5>
        <label
          class="form-label"
          for="{{Olayform.kesifOlaySpiralMetre.id_for_label}}"
        >
        {{Olayform.kesifOlaySpiralMetre.label}}
        </label>
        {{Olayform.kesifOlaySpiralMetre}}
        <label
          class="form-label"
          for="{{Olayform.kesifOlaySpiralÇapı.id_for_label}}"
        >
        {{Olayform.kesifOlaySpiralÇapı.label}}
        </label>
        {{Olayform.kesifOlaySpiralÇapı}}           
        <label
          class="form-label"
          for="{{Olayform.kesifOlayEnerjikablometre.id_for_label}}"
        >
        {{Olayform.kesifOlayEnerjikablometre.label}}
        </label>
        {{Olayform.kesifOlayEnerjikablometre}}           
        <label
          class="form-label"
          for="{{Olayform.kesifOlayEnerjikabloTipi.id_for_label}}"
        >
        {{Olayform.kesifOlayEnerjikabloTipi.label}}
        </label>
        {{Olayform.kesifOlayEnerjikabloTipi}}           
        <label
          class="form-label"
          for="{{Olayform.kesifOlayCAT6kablometre.id_for_label}}"
        >
        {{Olayform.kesifOlayCAT6kablometre.label}}
        </label>
        {{Olayform.kesifOlayCAT6kablometre}}           
        <label
          class="form-label"
          for="{{Olayform.kesifOlayDT8kablometre.id_for_label}}"
        >
        {{Olayform.kesifOlayDT8kablometre.label}}
        </label>
        {{Olayform.kesifOlayDT8kablometre}}     
        <h5 class="bas text-center mt-3">Pano Formu</h5>
        <label
          class="form-label"
          for="{{Olayform.kesifOlayPanoSayisi.id_for_label}}"
        >
        {{Olayform.kesifOlayPanoSayisi.label}}
        </label>
        {{Olayform.kesifOlayPanoSayisi}}
        <label
          class="form-label"
          for="{{Olayform.kesifOlayPanoOlcusu.id_for_label}}"
        >
        {{Olayform.kesifOlayPanoOlcusu.label}}
        </label>
        {{Olayform.kesifOlayPanoOlcusu}}
        <label
          class="form-label"
          for="{{Olayform.kesifOlayPanoTipi.id_for_label}}"
        >
        {{Olayform.kesifOlayPanoTipi.label}}
        </label>
        {{Olayform.kesifOlayPanoTipi}}            
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-check">
        <label for="myCheckFiberOlay" class="form-check-label">Fiber</label>
        <input
          class="form-check-input"
          type="checkbox"
          id="myCheckFiberOlay"
          onclick="myFunctionFiberOlay()"
        />
      </div>
    </div>
    <div class="col-8">
      <div class="div" id="OlayformFiber" style="display: none">
        <h5 class="bas text-center mt-3">Fiber Formu</h5>
        <label
          class="form-label"
          for="{{Olayform.kesifOlayFiberMetre.id_for_label}}"
        >
        {{Olayform.kesifOlayFiberMetre.label}}
        </label>
        {{Olayform.kesifOlayFiberMetre}}
        <label
          class="form-label"
          for="{{Olayform.kesifOlayFiberKabloModeli.id_for_label}}"
        >
        {{Olayform.kesifOlayFiberKabloModeli.label}}
        </label>
        {{Olayform.kesifOlayFiberKabloModeli}}           
        <label
          class="form-label"
          for="{{Olayform.kesifOlayPatchPanelSayisi.id_for_label}}"
        >
        {{Olayform.kesifOlayPatchPanelSayisi.label}}
        </label>
        {{Olayform.kesifOlayPatchPanelSayisi}}           
        <label
          class="form-label"
          for="{{Olayform.kesifOlayPatchPanelTipi.id_for_label}}"
        >
        {{Olayform.kesifOlayPatchPanelTipi.label}}
        </label>
        {{Olayform.kesifOlayPatchPanelTipi}}           
        <label
          class="form-label"
          for="{{Olayform.kesifOlayPatchPanelEkKasetSayisi.id_for_label}}"
        >
        {{Olayform.kesifOlayPatchPanelEkKasetSayisi.label}}
        </label>
        {{Olayform.kesifOlayPatchPanelEkKasetSayisi}}           
        <label
          class="form-label"
          for="{{Olayform.kesifOlayPatchCordSayisi.id_for_label}}"
        >
        {{Olayform.kesifOlayPatchCordSayisi.label}}
        </label>
        {{Olayform.kesifOlayPatchCordSayisi}}     
          
        <label
          class="form-label"
          for="{{Olayform.kesifOlayPatchCordTipi.id_for_label}}"
        >
        {{Olayform.kesifOlayPatchCordTipi.label}}
        </label>
        {{Olayform.kesifOlayPatchCordTipi}}     
          
        <label
          class="form-label"
          for="{{Olayform.kesifOlayFiberAdaptorSayisi.id_for_label}}"
        >
        {{Olayform.kesifOlayFiberAdaptorSayisi.label}}
        </label>
        {{Olayform.kesifOlayFiberAdaptorSayisi}}     
          
        <label
          class="form-label"
          for="{{Olayform.kesifOlayFiberAdaptorTipi.id_for_label}}"
        >
        {{Olayform.kesifOlayFiberAdaptorTipi.label}}
        </label>
        {{Olayform.kesifOlayFiberAdaptorTipi}}     
          
        <label
          class="form-label"
          for="{{Olayform.kesifOlayCibikModuleSayisi.id_for_label}}"
        >
        {{Olayform.kesifOlayCibikModuleSayisi.label}}
        </label>
        {{Olayform.kesifOlayCibikModuleSayisi}}     
          
        </div>
      </div>
  </div>
</div>