{% load static %}
<div class="container">
  <h5 class="bas text-center mt-3">KEŞİF DÜZENLEME FORMU</h5>
  <div class="row mt-3">

    <div class="col-11" style="margin-left:10px ;">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          {{form.media}} {{form.as_p }}
          <hr>
          <h5 class="bas text-center mt-3">Plaka Tanıma Malzemeler</h5>

          <hr>
          {{ptsmalzemeinfo.media}} {{ptsmalzemeinfo.as_p }}
          <hr>

          <h5 class="bas text-center mt-3">Olay Algılama Malzemeler</h5>

          <hr>
          {{olaymalzemeinfo.media}} {{olaymalzemeinfo.as_p }}
          <hr>

          <!-- <button class="btn btn-primary btn-lg" type="submit">Formu Getir</button> -->
        </table>

        <!-- PTS Sol taraf formu --------------------- -->

    </div>


      <div class="col-11">
        <button
          class="btn  btn-primary btn-lg vertical-center"
          style="justify-content: center "  
          type="submit"
        >
          Kaydet
        </button>
      </div>

      </form>
    </div>
  </div>
</div>


<style>
  .btn{
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align:
     center;
  }
  .bas {
    border-radius: 16px;
    position: relative;
    background-color: rgb(70, 103, 151);
    padding-top: 5px;
    padding-bottom: 2px;
    color: rgb(255, 255, 255);
  }
</style>